---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface ExperienceItem {
    duration: string;
    role: string;
    company: string;
    description: string;
    isCurrent: boolean;
}

const experienceData = await import(`../data/${lang}/experience.json`);
const experience = experienceData.experience as ExperienceItem[];
---

<main>
    <section
        id="experience"
        class="scroll-mt-20"
    >
        <div class="mx-auto my-24 w-full max-w-5xl px-4 sm:my-40">
            <h2
                class="mb-7 text-3xl font-semibold text-black/80 dark:text-white"
            >
                {t('experience.years')}
            </h2>
            <div class="flex flex-col gap-4">
                {
                    experience.map((exp, index) => (
                        <div
                            class={`flex flex-col justify-center rounded-lg border ${exp.isCurrent ? 'border-blue-400 dark:border-blue-500' : 'border-gray-100 dark:border-gray-800'} animate-fade-in bg-[#fffdff] p-6 dark:bg-[#13151a]`}
                            style={`animation-delay: ${index * 200}ms;`}
                        >
                            <time class="mb-1 block text-sm text-black/70 md:hidden dark:text-white/70">
                                {exp.duration}
                            </time>
                            <div class="mb-1 flex items-baseline justify-between">
                                <h3 class="text-lg font-bold text-blue-400 dark:text-blue-500">
                                    {exp.role}
                                </h3>
                                <time class="hidden text-sm text-black/70 md:block dark:text-white/70">
                                    {exp.duration}
                                </time>
                            </div>
                            <p class="mb-1 text-lg font-semibold text-black/80 dark:text-white/90">
                                {exp.company}
                            </p>
                            <p class="text-sm leading-relaxed text-black/90 sm:text-base dark:text-white/90">
                                {exp.description}
                            </p>
                        </div>
                    ))
                }
            </div>
        </div>
    </section>
</main>
